/* 
COLOUR PALETTE

Blue
#0c2ff5
Ultramarine Blue
#5B6FE3
Libery
#4C58A1
Blue RYB
#324BD9
Purple Navy
#424D8A

*/

.icon {
    max-width: 100px;
}

.game-choose {
    text-align: center;
    border: 2px solid aliceblue;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 0 20px;
    padding: 10px 100px;
}

.top {
    border: 1px solid navy;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    padding: 30px 10px;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.13);
}

.dropdown {
    display: flex;
    justify-content: end;
    margin: 5px 0px 10px 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(76, 88, 161, 0.1);
    padding-bottom: 50px;
}

.blockquote {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.blog-post {
    margin: 20px 40px;
    text-align: justify;
}

.main-content {
    background-color: rgba(76, 88, 161, 0.2);
}

.btn-socials {
    border-radius: 50%;
    background-color: black;
    border: none;
}

.footer-socials {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

h1 {
    padding-top: 20px;
}